<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_didacticapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Didacticapp"
        tools:targetApi="31">
        <activity
            android:name=".ExplicacionActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:exported="false" />
        <activity
            android:name=".PuertoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".TraineraActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Puzzle3x2Activity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Puzzle4x2Activity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".CancionActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".LanzamientoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".VerdaderoFalsoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".CocinarActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SopaActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".AtraparSardinasActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>